<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="asset/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="asset/css/custom.css">


    <title>Internasional Marketplace</title>
  </head>
  <body>
   <div class=header>
     <div class="container">
       <div class="row">
          <div class="col-md-2">
              <!-- <img src="img/logo_ralali.png" class="img-fluid" alt="logo"> -->
              <h2 class="title-head">B2B COM</h2>
          </div>
          <div class="col-md-7">
              <form class="form-inline  my-2 my-lg-0">
                  <input class="form-header  border-success mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
          </div>
          <div class="col-md-3">
            <i class="fas fa-shopping-cart"></i>
          </div>
       </div>
     </div>
   </div>

   <div class="our-product">
     <div class="container">
       <div class="row">
         <div class="col-md-3">
           <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                  <div class="float-left">CATEGORY</div>
                  <div class="float-right">SHOW ALL</div>
                </li>
              </ol>
            </nav>
            <div class="cat">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
            </div>
         </div>
         <div class="col-md-8">
            <h2 class="title-prod p-2 mb-2">PRODUCT</h2>
            <div class="prouct">
                <div class="row">
                   <div class="col-md-3">
                     <div class="list-product">
                       <div class="header-prod">
                          <img src="https://img3.ralali.id/mediaflex/160/assets/img/Libraries/293158_Nestle-Pure-Life-330-ml-isi-24-Botol-Karton-Dus-Air-Mineral-330ml_vDbUVTFWfbeIDdMU_1566369837.png" class="rounded mx-auto d-block img-fluid" alt="...">
                       </div>
                       <div class="title">
                         <p>ini adalah product</p>
                         <p>Rp 34.000</p>
                         <p>Buy</p>
                       </div>
                     </div>
                   </div>
                   <div class="col-md-3">
                     <div class="list-product">
                       <div class="header-prod">
                          <img src="https://img3.ralali.id/mediaflex/160/assets/img/Libraries/293158_Nestle-Pure-Life-330-ml-isi-24-Botol-Karton-Dus-Air-Mineral-330ml_vDbUVTFWfbeIDdMU_1566369837.png" class="rounded mx-auto d-block img-fluid" alt="...">
                       </div>
                       <div class="title">
                         <p>ini adalah product</p>
                         <p>Rp 34.000</p>
                         <p>Buy</p>
                       </div>
                     </div>
                   </div>
                   <div class="col-md-3">
                     <div class="list-product">
                       <div class="header-prod">
                          <img src="https://img3.ralali.id/mediaflex/160/assets/img/Libraries/293158_Nestle-Pure-Life-330-ml-isi-24-Botol-Karton-Dus-Air-Mineral-330ml_vDbUVTFWfbeIDdMU_1566369837.png" class="rounded mx-auto d-block img-fluid" alt="...">
                       </div>
                       <div class="title">
                         <p>ini adalah product</p>
                         <p>Rp 34.000</p>
                         <p>Buy</p>
                       </div>
                     </div>
                   </div>
                   <div class="col-md-3">
                     <div class="list-product">
                       <div class="header-prod">
                          <img src="https://img3.ralali.id/mediaflex/160/assets/img/Libraries/293158_Nestle-Pure-Life-330-ml-isi-24-Botol-Karton-Dus-Air-Mineral-330ml_vDbUVTFWfbeIDdMU_1566369837.png" class="rounded mx-auto d-block img-fluid" alt="...">
                       </div>
                       <div class="title">
                         <p>ini adalah product</p>
                         <p>Rp 34.000</p>
                         <p>Buy</p>
                       </div>
                     </div>
                   </div>
                </div>
            </div>
         </div>
       </div>
     </div>
   </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>